<section class="todoapp">
    <header class="header">
        <h1>Desiderata</h1>
    </header>
    
    <section class="main">
        <ul class="todo-list">
            
        </ul>
    </section>
</section>

<script>
    $(function() { //this line registers this code block executes when the page loads
        $.get("/tasks").success( function( data ){ //jQuery.get pulls values from db through server via this AJAX request
            var htmlString = "";
            
            $.each(data, function(index, task) { //loops through each Task object in db
                var liElement = '<li><div class="view"><input class="toggle" type="checkbox"><label>' 
                + task.title +
                '</label></div></li>';
                htmlString += liElement;
            });
             var ulTodos = $('.todo-list');
             ulTodos.html(htmlString);
        });
    });
</script>